$font-primary:        Futura, Arial, "Helvetica Neue", Helvetica, sans-serif;

$font-line-height			:1.8rem;
$font-size-base				:62.5%;
$font-size-small			:1.2rem;
$font-size-normal			:1.4rem;
$font-size-medium			:1.6rem;
$font-size-big				:2.0rem;

$font-weight-medium         : 500;

$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$bg-color:			   #eeeeee;
$text-color-gray:	   #BDBDBD;